/* line 7, /Users/lmy/Projects/Windows Web/scss/style.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 11, /Users/lmy/Projects/Windows Web/scss/style.scss */
body {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

/* line 25, /Users/lmy/Projects/Windows Web/scss/style.scss */
a {
  text-decoration: none;
  cursor: default; }

/* line 31, /Users/lmy/Projects/Windows Web/scss/style.scss */
.media {
  display: flex; }

/* line 35, /Users/lmy/Projects/Windows Web/scss/style.scss */
.media__img,
.media__body {
  flex: 0 1 auto; }

/* line 38, /Users/lmy/Projects/Windows Web/scss/style.scss */
.media__body {
  padding-left: 10px; }

/* line 43, /Users/lmy/Projects/Windows Web/scss/style.scss */
.desktop {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0); }

/* line 54, /Users/lmy/Projects/Windows Web/scss/style.scss */
.desktop,
.window__titlebar:after {
  background-image: url(http://i.imgur.com/K7ZTvoQ.png);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed; }

/* line 61, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: contrast(0.7) grayscale(0.5) brightness(1.3);
  transform: scale(0.995);
  transition: all 250ms, z-index 1ms;
  z-index: 0;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden; }
  /* line 82, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window.ui-draggable-dragging,
  .window.ui-resizable-resizing {
    transition: none; }

/* line 90, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window--minimized {
  top: 100% !important;
  left: 0 !important;
  transform: scale(0) translate(-100%, 0) !important;
  opacity: 0; }

/* line 99, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window--active {
  filter: none;
  transform: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1000; }

/* line 105, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window--closing {
  transform: scale(0.9);
  opacity: 0; }

/* line 109, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window--opening {
  transform: scale(1.25);
  opacity: 0; }

/* line 114, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window--explorer .window__body {
  padding-top: 64px; }

/* line 119, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__titlebar {
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  cursor: default;
  background-color: #7bb6ef; }
  /* line 131, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__titlebar:after {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    filter: grayscale(100%);
    opacity: 0.5; }

/* line 144, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__title {
  position: relative;
  line-height: 32px;
  z-index: 10;
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden; }

/* line 153, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10; }
  /* line 158, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__controls > a {
    display: block;
    float: left;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 12px;
    transition: all 100ms;
    cursor: default;
    color: rgba(0, 0, 0, 0.5); }
    /* line 168, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .window__controls > a:hover {
      background-color: rgba(255, 255, 255, 0.25); }
  /* line 172, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__controls > .window__close {
    color: white;
    background-color: #398ada; }
    /* line 175, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .window__controls > .window__close:hover {
      background-color: #e53935; }

/* line 180, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__controls--left {
  left: 0; }

/* line 183, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__controls--right {
  right: 0; }

/* line 187, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__maximize {
  position: relative; }
  /* line 189, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__maximize > i {
    box-sizing: content-box;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.6); }
    /* line 195, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .window--maximized .window__maximize > i {
      margin-bottom: -1px;
      margin-left: -4px;
      width: 5px;
      height: 5px;
      transition: all 100ms 350ms; }
      /* line 201, /Users/lmy/Projects/Windows Web/scss/style.scss */
      .window--maximized .window__maximize > i:after {
        box-sizing: content-box;
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 6px;
        height: 6px;
        border: inherit;
        border-radius: inherit;
        border-left: 0;
        border-bottom: 0;
        transition: all 100ms 350ms; }

/* line 222, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__icon,
.window__icon:hover,
.window__menu {
  color: white !important; }
  /* line 224, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window--explorer .window__icon,
  .window--explorer .window__icon:hover,
  .window--explorer .window__menu {
    background-color: #0097A7; }
  /* line 227, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window--mail .window__icon,
  .window--mail .window__icon:hover,
  .window--mail .window__menu {
    background-color: #5C6BC0; }
  /* line 230, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window--notepad .window__icon,
  .window--notepad .window__icon:hover,
  .window--notepad .window__menu {
    background-color: #EC407A; }

/* line 239, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__menutoggle--open,
.window__menutoggle--open:hover {
  color: white !important;
  background-color: #5C6BC0; }
  /* line 242, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window--explorer .window__menutoggle--open,
  .window--explorer .window__menutoggle--open:hover {
    background-color: #0097A7; }
  /* line 245, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window--mail .window__menutoggle--open,
  .window--mail .window__menutoggle--open:hover {
    background-color: #5C6BC0; }
  /* line 248, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window--notepad .window__menutoggle--open,
  .window--notepad .window__menutoggle--open:hover {
    background-color: #EC407A; }

/* line 254, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__menu {
  overflow: hidden;
  display: none;
  position: absolute;
  top: 31px;
  width: 25%;
  min-width: 200px;
  min-height: calc(100% - 31px);
  margin: 0;
  padding: 10px 0;
  color: white;
  background-color: #5C6BC0;
  z-index: 100; }
  /* line 268, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window--explorer .window__menu {
    background-color: #0097A7; }
  /* line 271, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__menu > li {
    list-style: none;
    transform: translate(-50%, 0);
    transition: transform 500ms 100ms; }
    /* line 275, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .window__menu > li > a {
      opacity: 0;
      position: relative;
      display: block;
      padding: 10px;
      padding-left: 45px;
      color: white;
      font-weight: 200;
      text-decoration: none;
      transition: all 100ms, opacity 750ms 150ms; }
      /* line 286, /Users/lmy/Projects/Windows Web/scss/style.scss */
      .window__menu > li > a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
    /* line 290, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .window__menu > li.divided > a {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }

/* line 296, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__menu--open li {
  transform: none; }
  /* line 298, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__menu--open li > a {
    opacity: 1; }

/* line 304, /Users/lmy/Projects/Windows Web/scss/style.scss */
.menu__icon.menu__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16px; }

/* line 313, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__body {
  display: flex;
  padding-top: 32px;
  height: 100%;
  font-size: 14px; }

/* line 322, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__side,
.window__main {
  flex: 0 1 auto;
  overflow: auto; }

/* line 327, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__side {
  overflow: auto;
  width: 25%;
  min-width: 200px;
  padding: 10px;
  background-color: #ECEFF1; }

/* line 335, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__main {
  width: 100%;
  background-color: white; }

/* line 341, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__actions {
  position: absolute;
  top: 32px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fbfbfc; }
  /* line 353, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__actions .search {
    position: relative;
    height: 32px;
    width: 33%;
    max-width: 248px;
    min-width: 170px;
    margin-left: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent; }
  /* line 363, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__actions .search__input {
    padding: 0 10px;
    line-height: 32px; }
  /* line 367, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__actions .search__btn {
    height: 32px;
    width: 32px; }

/* line 373, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__back,
.window__forward {
  flex: 0 1 auto;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45); }
  /* line 381, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__back:hover,
  .window__forward:hover {
    color: #1976D2; }

/* line 385, /Users/lmy/Projects/Windows Web/scss/style.scss */
.window__path {
  white-space: nowrap;
  padding: 0 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }
  /* line 389, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .window__path > a {
    display: inline-block;
    padding: 0 5px;
    line-height: 32px;
    font-size: 12px;
    cursor: pointer;
    color: #607D8B; }
    /* line 396, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .window__path > a:after {
      display: inline-block;
      margin-left: 5px;
      content: '\f0da';
      font-family: 'FontAwesome';
      opacity: 0.5; }

/* line 407, /Users/lmy/Projects/Windows Web/scss/style.scss */
.side__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 200; }
  /* line 412, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .side__list > li {
    margin-bottom: 10px; }
  /* line 415, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .side__list li {
    list-style: none; }
    /* line 417, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .side__list li a {
      position: relative;
      display: block;
      padding: 3px 5px 3px 32px;
      border: 1px solid transparent;
      color: #546E7A;
      transition: all 100ms; }
      /* line 424, /Users/lmy/Projects/Windows Web/scss/style.scss */
      .side__list li a:hover {
        color: #263238;
        border-color: rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.05); }
  /* line 432, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .side__list ul {
    padding: 0;
    font-size: 14px; }
    /* line 436, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .side__list ul li > a {
      padding-left: 42px; }
    /* line 440, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .side__list ul li li > a {
      padding-left: 52px; }

/* line 448, /Users/lmy/Projects/Windows Web/scss/style.scss */
.list__toggle {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 32px;
  display: block;
  line-height: 32px;
  text-align: center; }
  /* line 459, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .list__toggle:hover {
    color: #1565C0; }
  /* line 463, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .list__toggle:before {
    display: block;
    content: '\f105';
    font-family: 'FontAwesome';
    margin-top: 1px;
    transform: none;
    transition: all 250ms; }
  /* line 471, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .side__list--open > a .list__toggle:before {
    transform: rotate(90deg); }
  /* line 474, /Users/lmy/Projects/Windows Web/scss/style.scss */
  li li .list__toggle {
    width: 42px;
    height: 26px;
    line-height: 26px; }
    /* line 478, /Users/lmy/Projects/Windows Web/scss/style.scss */
    li li .list__toggle:before {
      margin-top: 2px; }

/* line 485, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
  background-color: #1c2429;
  z-index: 9998; }

/* line 497, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar__item {
  display: inline-block;
  margin-right: 4px;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 22px;
  color: white;
  border: 1px solid transparent;
  transition: all 100ms; }
  /* line 507, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .taskbar__item:hover {
    background-color: rgba(120, 144, 156, 0.15); }
  /* line 510, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .taskbar__item > i {
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    width: 32px;
    height: 32px;
    line-height: 32px; }

/* line 521, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar__item--active.taskbar__item--explorer {
  background-color: #0097A7; }

/* line 524, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar__item--active.taskbar__item--mail {
  background-color: #5C6BC0; }

/* line 527, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar__item--active.taskbar__item--notepad {
  background-color: #EC407A; }

/* line 531, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar__item--open {
  box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.35); }

/* line 545, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar__item--start {
  color: #378fe7;
  transition: background-color 250ms; }
  /* line 548, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .taskbar__item--start.start--open {
    color: white; }

/* line 552, /Users/lmy/Projects/Windows Web/scss/style.scss */
.taskbar__tray {
  color: white;
  padding: 0 10px;
  float: right;
  line-height: 48px; }
  /* line 557, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .taskbar__tray .time {
    cursor: default;
    padding: 5px; }
    /* line 560, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .taskbar__tray .time:hover {
      background-color: rgba(255, 255, 255, 0.1); }

/* line 567, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-menu-fade {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5); }

/* line 577, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-menu {
  display: flex;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 48px;
  padding: 10px;
  height: 85vh;
  min-height: 512px;
  z-index: 9999;
  color: white;
  background-color: #1976D2; }

/* line 594, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start--open {
  background-color: #1976D2 !important; }

/* line 598, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-menu__list,
.start-screen {
  flex: 0 1 auto; }

/* line 601, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-menu__list {
  position: relative;
  width: 248px;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms; }
  /* line 607, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-menu--open .start-menu__list {
    transform: none;
    opacity: 1; }

/* line 613, /Users/lmy/Projects/Windows Web/scss/style.scss */
.user-info {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  transition: all 100ms, transform 500ms; }
  /* line 620, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .user-info:hover {
    background-color: rgba(255, 255, 255, 0.15); }
  /* line 623, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-menu--open .user-info {
    transform: none; }

/* line 627, /Users/lmy/Projects/Windows Web/scss/style.scss */
.user-info__img {
  display: block;
  width: 40px;
  height: 40px; }

/* line 632, /Users/lmy/Projects/Windows Web/scss/style.scss */
.user-info__name {
  font-size: 20px;
  font-weight: 200;
  align-self: center; }

/* line 637, /Users/lmy/Projects/Windows Web/scss/style.scss */
.user-info__power {
  margin-left: auto;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: white; }
  /* line 646, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .user-info__power:hover {
    background-color: rgba(255, 255, 255, 0.15); }

/* line 650, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-menu__label {
  display: block;
  padding: 10px 20px;
  font-size: 20px; }

/* line 656, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-menu__recent {
  overflow: hidden;
  max-height: 65%;
  padding: 0;
  margin: 0;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms 100ms, opacity 1000ms 250ms; }
  /* line 666, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-menu--open .start-menu__recent {
    transform: none;
    opacity: 1; }
  /* line 670, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-menu__recent li {
    list-style: none; }
    /* line 672, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-menu__recent li a {
      display: block;
      padding: 10px;
      color: white;
      transition: all 100ms; }
      /* line 677, /Users/lmy/Projects/Windows Web/scss/style.scss */
      .start-menu__recent li a:hover {
        background-color: rgba(255, 255, 255, 0.15); }
      /* line 684, /Users/lmy/Projects/Windows Web/scss/style.scss */
      .start-menu__recent li a > i {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 6px;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15); }
    /* line 697, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-menu__recent li.start-menu__explorer a > i {
      background-color: #0097A7; }
    /* line 701, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-menu__recent li.start-menu__mail a > i {
      background-color: #5C6BC0; }
    /* line 705, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-menu__recent li.start-menu__notepad a > i {
      background-color: #EC407A; }

/* line 712, /Users/lmy/Projects/Windows Web/scss/style.scss */
.all-apps {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: block;
  margin-bottom: 10px;
  color: white;
  transition: all 100ms; }
  /* line 721, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .all-apps > i {
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    line-height: 26px;
    text-align: center; }
  /* line 732, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .all-apps:hover > i {
    background-color: #37474F; }

/* line 738, /Users/lmy/Projects/Windows Web/scss/style.scss */
.search {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: white; }

/* line 745, /Users/lmy/Projects/Windows Web/scss/style.scss */
.search__input {
  display: block;
  width: 100%;
  padding: 10px;
  height: 32px;
  border: 0;
  font-size: 12px;
  color: #607D8B;
  background-color: transparent;
  z-index: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* line 759, /Users/lmy/Projects/Windows Web/scss/style.scss */
.search__btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border: 0;
  z-index: 1;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  /* line 771, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .search__btn:before {
    display: block;
    content: '\f002';
    font-family: 'FontAwesome';
    font-size: 12px;
    color: #607D8B; }

/* line 780, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen-scroll {
  max-height: 85vh;
  min-height: calc(128px * 3 - 8px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: -8px;
  padding: 4px;
  margin-left: 4px;
  transform: translate(-100%, 0);
  transition: transform 500ms, opacity 1000ms;
  opacity: 0; }
  /* line 792, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-menu--open .start-screen-scroll {
    transform: none;
    opacity: 1; }

/* line 797, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen {
  position: relative;
  width: 256px;
  word-spacing: -1em; }
  @media screen and (min-width: 700px) {
    /* line 797, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-screen {
      min-width: 384px; } }
  @media screen and (min-width: 800px) {
    /* line 797, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-screen {
      min-width: 512px; } }
  @media screen and (min-width: 960px) {
    /* line 797, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-screen {
      min-width: 640px; } }

/* line 813, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__tile {
  position: relative;
  display: block;
  float: left;
  width: 120px;
  height: 120px;
  word-spacing: normal;
  margin: 4px;
  color: white;
  background-color: #D81B60;
  border: 2px solid rgba(255, 255, 255, 0.1);
  transform: scale(0.5);
  transition: all 250ms, transform 0s; }
  /* line 827, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-menu--open .start-screen__tile {
    transform: none; }
  /* line 830, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-screen__tile.ui-sortable-helper {
    transform: scale(1.1);
    transition: none; }
  /* line 834, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-screen__tile:hover {
    border-color: rgba(255, 255, 255, 0.5); }
  /* line 838, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-screen__tile:active {
    transform: scale(0.9); }
  /* line 841, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-screen__tile > i {
    font-size: 48px;
    position: absolute;
    top: calc(50% - 12px);
    left: 50%;
    margin-top: -24px;
    margin-left: -24px; }
  /* line 849, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-screen__tile > span {
    position: absolute;
    left: 12px;
    bottom: 4px;
    font-size: 12px; }

/* line 857, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__tile--wide,
.start-screen__tile--large {
  width: 248px; }

/* line 860, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__tile--large {
  height: 248px; }

/* line 863, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__tile--small {
  width: 56px;
  height: 56px; }

/* line 867, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__smallgroup {
  width: 120px;
  height: 120px;
  margin: 4px; }
  /* line 873, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .start-screen__smallgroup > .start-screen__tile {
    margin: 0; }
    /* line 875, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .start-screen__smallgroup > .start-screen__tile:nth-child(odd) {
      margin-right: 8px;
      margin-bottom: 8px; }

/* line 881, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__tile--explorer {
  background-color: #0097A7; }

/* line 884, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__tile--mail {
  background-color: #5C6BC0; }

/* line 887, /Users/lmy/Projects/Windows Web/scss/style.scss */
.start-screen__tile--notepad {
  background-color: #EC407A; }

/* line 892, /Users/lmy/Projects/Windows Web/scss/style.scss */
.full-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  border: 0;
  width: 100%;
  height: 100%; }

/* line 902, /Users/lmy/Projects/Windows Web/scss/style.scss */
.full-iframe {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute; }

/* line 911, /Users/lmy/Projects/Windows Web/scss/style.scss */
.ui-resizable-se {
  background-image: url(""); }

/* line 916, /Users/lmy/Projects/Windows Web/scss/style.scss */
.menu-toggle {
  position: relative; }

/* line 919, /Users/lmy/Projects/Windows Web/scss/style.scss */
.menu-toggle--open {
  background-color: rgba(0, 0, 0, 0.1); }

/* line 922, /Users/lmy/Projects/Windows Web/scss/style.scss */
.menu {
  position: absolute;
  z-index: 10000;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 250ms; }
  /* line 929, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .menu > a {
    display: block;
    width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    color: #455A64;
    transition: all 100ms; }
    /* line 936, /Users/lmy/Projects/Windows Web/scss/style.scss */
    .menu > a:hover {
      background-color: #ECEFF1; }

/* line 947, /Users/lmy/Projects/Windows Web/scss/style.scss */
.folders > a {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 72px;
  height: 72px;
  text-align: center;
  border: 1px solid transparent;
  color: #607D8B;
  cursor: pointer; }
  /* line 957, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .folders > a:hover {
    color: #1976D2;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(236, 239, 241, 0.5); }
  /* line 962, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .folders > a > i {
    display: block;
    font-size: 32px; }
  /* line 966, /Users/lmy/Projects/Windows Web/scss/style.scss */
  .folders > a > span {
    display: block; }

/*# sourceMappingURL=style.css.map */